<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
       <title>Art - PoS</title>
       <link rel="stylesheet" type="text/css" href="\style\style.css">
       <link rel="stylesheet" type="text/css" href="\style\topnav.css">
       <link rel="stylesheet" type="text/css" href="\style\content.css">
       <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
       integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
       crossorigin="anonymous"></script>
       <script src="/scripts/script.js"></script> 
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="/">Path of Souls</a></li>
                <li class="item"><a href="art.html">Art</a></li>
                <li class="item"><a href="code.html">Code</a></li>
                <li class="item"><a href="effects.html">Effects</a></li>
                <li class="item"><a href="About.html">About</a></li>
                <li class="item button"><a href="/template/singIn.html">Sing In</a></li>
                <li class="item button second"><a href="/template/signUp.html">Sign Up</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
        <main> 
            <div class="content">
                <h3>Integrantes:</h3>
                <img src="/resource/Integrantes.png" alt="">
                <h3>info</h3>
                <p>Descripción del juego: La idea base del juego parh of souls es crear un personaje    el cual es controlado por medio de teclado, a medida que el usuario se abre paso entre los niveles enfrentara a diferentes jefes o obstáculos los cuales le brindaran una experiencia divertida.</p>
            </div>   
        </main>
        <footer>
        </footer>      
    </body>
</html>