<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
       <title>Art - PoS</title>
       <link rel="stylesheet" type="text/css" href="\style\style.css">
       <link rel="stylesheet" type="text/css" href="\style\topnav.css">
       <link rel="stylesheet" type="text/css" href="\style\content.css">
       <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
       integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
       crossorigin="anonymous"></script>
       <script src="/scripts/script.js"></script> 
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="/">Path of Souls</a></li>
                <li class="item"><a href="art.html">Art</a></li>
                <li class="item"><a href="code.html">Code</a></li>
                <li class="item"><a href="effects.html">Effects</a></li>
                <li class="item"><a href="About.html">About</a></li>
                <li class="item button"><a href="/template/singIn.html">Sing In</a></li>
                <li class="item button second"><a href="/template/signUp.html">Sign Up</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
        <main> 
            <div class="presentacion">
                <img src="/resource/art/ART.png" alt="Tema">
                <div class="titulo2">Art</div>
            </div>
            <div class="content">
                <div class="one">
                    <h2>Player</h2>
                    <img src="/resource/art/player.png" alt="player">
                </div>
                <div class="two">
                    <h2>Jefes</h2>
                    <img src="/resource/art/Boss.png" alt="Boss">
                </div>
                <div class="three">
                    <h2>Maps</h2>
                    <img src="/resource/art/Salas.png" alt="Salas">
                </div>
                <div class="four">
                    <h2>Cinematicas</h2>
                    <img src="/resource/art/cinematicas.png" alt="Salas">
                </div>
                <div class="five">
                    <h2>vida and medallas</h2>
                    <img src="/resource/art/medal_life.png" alt="Salas">
                </div>
            </div>     
        </main>
        <footer>

        </footer>      
    </body>
</html>


