<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
       <title>Art - PoS</title>
       <link rel="stylesheet" type="text/css" href="\style\style.css">
       <link rel="stylesheet" type="text/css" href="\style\topnav.css">
       <link rel="stylesheet" type="text/css" href="\style\content.css">
    </head>
    <body>
        <header>
            <a href="/"><h1 class="logo">Path of Souls</h1></a>
            <nav>
                <ul class="topnav">
                    <li><a href="art.html">Art</a></li>
                    <li><a href="code.html">Code</a></li>
                    <li><a href="effects.html">Effects</a></li>
                </ul>
            </nav>
            <button class="perfil"></button>
        </header>
        <main> 
            <img src="/resource/art/Graficos.jpg" alt="Tema">
            <div class="content">
                <h2>Art by Samuel Orrego</h2>
                <h3>Player</h3>
                <img src="/resource/art/Player.png" alt="player">
                <h3>Boss</h3>
                <img src="/resource/art/ART.png" alt="boss">
                <h3>maps</h3>
                <img src="/resource/art/sala_0.png" alt="sala">
                <h3>cinematicas</h3>
                <img src="/resource/art/cinematica 1.png" alt="cinematica">
                <h3>life and Medallas</h3>
                <img src="/resource/art/Medalla_1.png" alt="">
            </div>     
        </main>
        <footer>

        </footer>      
    </body>
</html>


