<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
       <title>Art - PoS</title>
       <link rel="stylesheet" type="text/css" href="\style\style.css">
       <link rel="stylesheet" type="text/css" href="\style\topnav.css">
       <link rel="stylesheet" type="text/css" href="\style\content.css">
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="/">Path of Souls</a></li>
                <li class="item"><a href="art.html">Art</a></li>
                <li class="item"><a href="code.html">Code</a></li>
                <li class="item"><a href="effects.html">Effects</a></li>
                <li class="item button"><a href="#">Login</a></li>
                <li class="item button second"><a href="#">Sign in</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
        <main> 
            <img src="/resource/art/Graficos.jpg" alt="Tema">
            <div class="content">
                <h2>Art by Samuel Orrego</h2>
                <h3>Player</h3>
                <img src="/resource/art/Player.png" alt="player">
                <h3>Boss</h3>
                <img src="/resource/art/ART.png" alt="boss">
                <h3>maps</h3>
                <img src="/resource/art/sala_0.png" alt="sala">
                <h3>cinematicas</h3>
                <img src="/resource/art/cinematica 1.png" alt="cinematica">
                <h3>life and Medallas</h3>
                <img src="/resource/art/Medalla_1.png" alt="">
            </div>     
        </main>
        <footer>

        </footer>      
    </body>
</html>


