<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
       <title>Code - PoS</title>
       <link rel="stylesheet" type="text/css" href="/style/style.css">
       <link rel="stylesheet" type="text/css" href="/style/topnav.css">
       <link rel="stylesheet" type="text/css" href="\style\content.css">
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="/">Path of Souls</a></li>
                <li class="item"><a href="art.html">Art</a></li>
                <li class="item"><a href="code.html">Code</a></li>
                <li class="item"><a href="effects.html">Effects</a></li>
                <li class="item button"><a href="#">Login</a></li>
                <li class="item button second"><a href="#">Sign in</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
        <main>  
            <img src="/resource/code/Code.jpg" alt="Tema">
            <div class="content">
                
                <h3>Movimiento del jugador</h3>
                <h3>Estados</h3>
                <h3>Enemigos</h3>
                <h3>Botones</h3>
                <h3>sistema de puntos y vida</h3>
            </div>    
        </main>
        <footer>

        </footer>      
    </body>
</html>