<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
       <title>Code - PoS</title>
       <link rel="stylesheet" type="text/css" href="/style/style.css">
       <link rel="stylesheet" type="text/css" href="/style/topnav.css">
       <link rel="stylesheet" type="text/css" href="\style\content.css">
    </head>
    <body>
        <header>
            <a href="/"><h1 class="logo">Path of Souls</h1></a>
            <nav>
                <ul class="topnav">
                    <li><a href="art.html">Art</a></li>
                    <li><a href="code.html">Code</a></li>
                    <li><a href="effects.html">Effects</a></li>
                </ul>
            </nav>
            <button class="perfil"></button>
        </header>
        <main>  
            <img src="/resource/code/Code.jpg" alt="Tema">
            <div class="content">
                
                <h3>Movimiento del jugador</h3>
                <h3>Estados</h3>
                <h3>Enemigos</h3>
                <h3>Botones</h3>
                <h3>sistema de puntos y vida</h3>
            </div>    
        </main>
        <footer>

        </footer>      
    </body>
</html>