<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
       <title>Code - PoS</title>
       <link rel="stylesheet" type="text/css" href="/style/style.css">
       <link rel="stylesheet" type="text/css" href="/style/topnav.css">
    </head>
    <body>
        <header>
            <img class="logo" src="" alt="">
            <nav>
                <ul class="topnav">
                    <li><a href="art.html">Art</a></li>
                    <li><a href="code.html">code</a></li>
                    <li><a href="about.html">about</a></li>
                </ul>
            </nav>
            <a class="Download" href="download.html"><button>Download</button></a>
        </header>
        <main>  
            <h1>qui va la documentacion del codigo fuente</h1>
        </main>
        <footer>

        </footer>      
    </body>
</html>