<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
       <title>Download - PoS</title>
       <link rel="stylesheet" type"text/style" href="/style/style.css">
       <link rel="stylesheet" type"text/style" href="/style/topnav.css">
    </head>
    <body>
        <header>
            <nav class="topnav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="art.html">Art</a></li>
                    <li><a href="code.html">code</a></li>
                    <li><a href="download.html">Download</a></li>
                    <li><a href="about.html">about</a></li>
                </ul> 
            </nav>
        </header>
        <main>  
            <h1>Link a Github</h1>
        </main>
        <footer>

        </footer>      
    </body>
</html>