<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
       <title>Effects - PoS</title>
       <link rel="stylesheet" type="text/css" href="/style/style.css">
       <link rel="stylesheet" type="text/css" href="/style/topnav.css">
       <link rel="stylesheet" type="text/css" href="\style\content.css">
       <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
       integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="
       crossorigin="anonymous"></script>
       <script src="/scripts/script.js"></script> 
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="/">Path of Souls</a></li>
                <li class="item"><a href="art.html">Art</a></li>
                <li class="item"><a href="code.html">Code</a></li>
                <li class="item"><a href="effects.html">Effects</a></li>
                <li class="item"><a href="About.html">About</a></li>
                <li class="item button"><a href="/template/singIn.html">Sing In</a></li>
                <li class="item button second"><a href="/template/signUp.html">Sign Up</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
        <main> 
            <div class="presentacion">
                <img src="/resource/effects/Music&Effects.jpg" alt="Tema">
                <div class="titulo3">Music & Effects</div>
            </div>
            <div class="content">
                <div class="one">
                    <h2>Music</h2>
                    <h3>Devil May Cry 3: Devil Never Cry</h3>
                    <audio src="/resource/effects/introduccion_juego.mp3" controls></audio>
                    <h3>Fairy Tail: Main Theme(Guitar Cover)</h3>
                    <audio src="/resource/effects/juego.mp3" controls></audio>
                </div>
                <div class="effectos">
                    <h2>Effects</h2>
                    <h3>Perdida de vida</h3>
                    <audio src="/resource/effects/perdida_vida.mp3" controls></audio>
                    <h3>Bonificacion</h3>
                    <audio src="/resource/effects/Bonificación.mp3" controls></audio>
                    <h3>Seleccion de elemento</h3>
                    <audio src="/resource/effects/seleccion_opcion_menu.mp3" controls></audio>
                </div>
            </div>   
        </main>
        <footer>

        </footer>      
    </body>
</html>