<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
       <title>Effects - PoS</title>
       <link rel="stylesheet" type="text/css" href="/style/style.css">
       <link rel="stylesheet" type="text/css" href="/style/topnav.css">
    </head>
    <body>
        <header>
            <a href="/"><h1 class="logo">Path of Souls</h1></a>
            <nav>
                <ul class="topnav">
                    <li><a href="art.html">Art</a></li>
                    <li><a href="code.html">Code</a></li>
                    <li><a href="effects.html">Effects</a></li>
                </ul>
            </nav>
            <a class="Download" href="https://github.com/KORC-hub/Path-of-Souls" target="_blank"><button>Download</button></a>
        </header>
        <main> 
            <img src="/resource/Music&Effects.jpg" alt="Tema">
            <div class="content">
                <h2>Music and Effects by Andres Mira</h2>
                <h3>Music</h3>
                <h3>Effects</h3>
            </div>  
        </main>
        <footer>

        </footer>      
    </body>
</html>