<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
       <title>Effects - PoS</title>
       <link rel="stylesheet" type="text/css" href="/style/style.css">
       <link rel="stylesheet" type="text/css" href="/style/topnav.css">
       <link rel="stylesheet" type="text/css" href="\style\content.css">
    </head>
    <body>
        <nav>
            <ul class="menu">
                <li class="logo"><a href="/">Path of Souls</a></li>
                <li class="item"><a href="art.html">Art</a></li>
                <li class="item"><a href="code.html">Code</a></li>
                <li class="item"><a href="effects.html">Effects</a></li>
                <li class="item button"><a href="#">Login</a></li>
                <li class="item button second"><a href="#">Sign in</a></li>
                <li class="toggle"><span class="bars"></span></li>
            </ul>
        </nav>
        <main> 
            <img src="/resource/effects/Music&Effects.jpg" alt="Tema">
            <div class="content">
                <h2>Music and Effects by Andres Mira</h2>
                <h3>Music</h3>
                <h3>Effects</h3>
            </div>  
        </main>
        <footer>

        </footer>      
    </body>
</html>