<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
       <title>Art - PoS</title>
       <link rel="stylesheet" type="text/css" href="/style/style.css">
       <link rel="stylesheet" type="text/css" href="/style/topnav.css">
    </head>
    <body>
        <header>
            <a href="/"><h1 class="logo">Path of Souls</h1></a>
            <nav>
                <ul class="topnav">
                    <li><a href="art.html">Art</a></li>
                    <li><a href="code.html">Code</a></li>
                    <li><a href="effects.html">Effects</a></li>
                </ul>
            </nav>
            <a class="Download" href="https://github.com/KORC-hub/Path-of-Souls" target="_blank"><button>Download</button></a>
        </header>
        <main> 
            <img src="/resource/Graficos.jpg" alt="Tema">
            <div class="content">
                <h2>Art by Samuel Orrego</h2>
                <h3>Player</h3>
                <h3>Boss</h3>
                <h3>maps</h3>
                <h3>cinematicas</h3>
                <h3>life and bar points</h3>
            </div>     
        </main>
        <footer>

        </footer>      
    </body>
</html>


